snippet setup vue3-setup-ts
				<script setup lang="ts">
				${1}
				</script>

				<template>
					<div>${2}<div>
				</template>

snippet dp vue3DefineProps
				const ${2} = defineProps<{
					${1}
				}>()

