" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=10

" Do incremental searching.
set ignorecase
set smartcase
set incsearch
set hlsearch
set idearefactormode=keep
set ideajoin
set which-key
set notimeout
set sneak
set NERDTree
set easymotion
set argtextobj
set highlightedyank
set surround
set number
set relativenumber
set multiple-cursors

" set <leader> to <space>
let mapleader = " "

" Use system clipboard
set clipboard+=unnamed

" 默认dd删除不保存到剪切板
nnoremap x "_x
nnoremap X "_X
nnoremap d "_d
"nnoremap D "_D
nnoremap c "_c
nnoremap c "_c

" Virtual
vnoremap x "_x
vnoremap X "_X
vnoremap d "_d
"vnoremap D "_D
vnoremap c "_c
vnoremap C "_C

" Plugins

" Key Mappings
inoremap jj <Esc>
map L $
map H ^
map . <Action>(EditorDuplicate)

" ================================================================================================
" = No Leader Keymaps =====================================
" ================================================================================================
nmap \r <Action>(ReformatCode)
nmap vs <Action>(SplitVertically)
nmap bs <Action>(SplitHorizontally)
nmap gd <Action>(GotoDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gb <Action>(Back)
nmap gf <Action>(Forward)
nmap gh <Action>(ParameterInfo)
nmap gt <Action>(GotoTest)
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)
map U <Action>($Redo)
map u <Action>($Undo)
map X :nohls<CR>
map K <Action>(ParameterInfo)
map M %
" Multiple cursors operations
" Select next Occurrence
map <C-p> <A-n>
" Skip next Occurrence
map <C-x> <A-x>
map <C-,> <A-p>
map <C-h> <Action>(HideActiveWindow)
map <C-i> <Action>(EditorSelectWord)
map <C-o> <Action>(EditorUnSelectWord)

" window move
nnoremap <C-h> <c-w>h
nnoremap <C-l> <c-w>l

" Scrolling
nmap <C-j> <C-d>
nmap <C-k> <C-u>
vmap <C-j> <C-d>
vmap <C-k> <C-u>

" Bookmark
nmap mm <Action>(ToggleBookmark)
nmap ma mA
nmap 'a 'A

" ================================================================================================
" = Leader Keymaps =====================================
" ================================================================================================
let g:WhichKeyDesc_Next = "<leader>n Next"
let g:WhichKeyDesc_NextError = "<leader>ne NextError"
nmap <leader>ne <Action>(GotoNextError)
let g:WhichKeyDesc_NextSplitter = "<leader>ns NextSplitter"
nmap <leader>ns <Action>(NextSplitter)

let g:WhichKeyDesc_Previous = "<leader>p Previous"
let g:WhichKeyDesc_PreviousError = "<leader> PreviousError"
nmap <leader>pe <Action>(GotoPreviousError)
let g:WhichKeyDesc_PreviousSplitter = "<leader> PreviousSplitter"
nmap <leader>ps <Action>(PrevSplitter)

map <leader><leader> <Action>(RecentFiles)

map <leader>/ <Action>(FindInPath)

" Toggle ⭐
let g:WhichKeyDesc_Toggle = "<leader>t Toggle"
let g:WhichKeyDesc_ToggleDistractionFreeMode = "<leader>td ToggleDistractionFreeMode"
map <leader>td <Action>(ToggleDistractionFreeMode)
let g:WhichKeyDesc_ToggleZenMode = "<leader>tz ToggleZenMode"
map <leader>tz <Action>(ToggleZenMode)
let g:WhichKeyDesc_ToggleLineBreakpoint = "<leader>tb ToggleLineBreakpoint"
map <leader>tb <Action>(ToggleLineBreakpoint)

" Find ⭐️
let g:WhichKeyDesc_Find = "<leader>f Find"
let g:WhichKeyDesc_FindFile = "<leader>ff GotoFile"
map <leader>ff <Action>(GotoFile)
let g:WhichKeyDesc_FindInPath = "<leader>fp FindInPath"
map <leader>fp <Action>(FindInPath)
let g:WhichKeyDesc_FindRecentLocations = "<leader>fl RecentLocations"
map <leader>fl <Action>(RecentLocations)
let g:WhichKeyDesc_GotoAction = "<leader>fa GotoAction"
map <leader>fa <Action>(GotoAction)
let g:WhichKeyDesc_FindUsages = "<leader>fu FindUsages"
map <leader>fu <Action>(FindUsages)

" Close ⭐️
let g:WhichKeyDesc_CloseContent = "<leader>q CloseContent"
map <leader>q <Action>(CloseContent)
let g:WhichKeyDesc_PreviousTab = "<leader>h PreviousTab"
nmap <leader>h <Action>(PreviousTab)
let g:WhichKeyDesc_NextTab = "<leader>l NextTab"
nmap <leader>l <Action>(NextTab)

" Show & Search ⭐️
let g:WhichKeyDesc_Show = "<leader>s Show"
let g:WhichKeyDesc_ShowFileStructure = "<leader>ss ShowFileStructure"
nmap <leader>ss <Action>(FileStructurePopup)
let g:WhichKeyDesc_ShowBookmarks = "<leader>sb ShowBookmarks"
nmap <leader>sb <Action>(ShowBookmarks)
let g:WhichKeyDesc_ShowParameterInfo = "<leader>sp ShowParameterInfo"
nmap <leader>sp <Action>(ParameterInfo)
let g:WhichKeyDesc_ShowUsages = "<leader>su ShowUsages"
nmap <leader>su <Action>(ShowUsages)
let g:WhichKeyDesc_ShowContextAction = "<leader>sh ShowContextAction"
nmap <leader>sh <Action>(ShowIntentionActions)

" CloseOrCreate ⭐️
let g:WhichKeyDesc_CloseOrCreate = "<leader>c CloseOrCreate"
let g:WhichKeyDesc_CloseAllEditors = "<leader>ca CloseAllEditors"
map <leader>ca <Action>(CloseAllEditors)
let g:WhichKeyDesc_CloseAllEditorsButActive = "<leader>co CloseAllEditorsButActive"
map <leader>co <Action>(CloseAllEditorsButActive)
let g:WhichKeyDesc_NewElementSamePlace = "<leader>cf NewElementSamePlace"
map <leader>cf <Action>(NewElementSamePlace)

" Run ⭐️
let g:WhichKeyDesc_RunOrRe = "<leader>r Run"
let g:WhichKeyDesc_ReRun = "<leader>rr ReRun"
nmap <leader>rr <Action>(Rerun)
let g:WhichKeyDesc_Run = "<leader>ru Run"
map <leader>ru <Action>(Run)
let g:WhichKeyDesc_RunCurrentFile = "<leader>rc RunCurrentFile"
map <leader>rf <Action>(RunClass)
let g:WhichKeyDesc_RunStop = "<leader>rs RunStop"
map <leader>rs <Action>(Stop)
let g:WhichKeyDesc_EditRunConfigurations = "<leader>rc EditRunConfigurations"
map <leader>rc <Action>(editRunConfigurations)
let g:WhichKeyDesc_RunDebug = "<leader>rd RunDebug"
map <leader>rd <Action>(Debug)

" Zip ⭐️
let g:WhichKeyDesc_Zip = "<leader>z Zip"
let g:WhichKeyDesc_UnzipSelection = "<leader>zo UnzipSelection"
nmap <leader>zo <Action>(ExpandRegion)
let g:WhichKeyDesc_ZipSelection = "<leader>zc ZipSelection"
nmap <leader>zc <Action>(CollapseRegion)
let g:WhichKeyDesc_ZipAll = "<leader>zg ZipAll"
nmap <leader>zg <Action>(CollapseAllRegions)
let g:WhichKeyDesc_UnzipAll = "<leader>zG UnzipAll"
nmap <leader>zG <Action>(ExpandAllRegions)

" Insert ⭐
let g:WhichKeyDesc_Insert = "<leader>i Insert"
let g:WhichKeyDesc_InsertBefore = "<leader>ik InsertBefore"
nmap <leader>ik <Action>(EditorStartNewLineBefore)
let g:WhichKeyDesc_InsertAfter = "<leader>ij InsertAfter"
nmap <leader>ij <Action>(EditorStartNewLine)


" Util ⭐
let g:WhichKeyDesc_CodeActions = "<leader>x CodeActions"
let g:WhichKeyDesc_OrganizeImports = "<leader>xi OrganizeImports"
nmap <leader>xi <Action>(OptimizeImports)
let g:WhichKeyDesc_RenameElement = "<leader>xr RenameElement"
nmap <leader>xr <Action>(RenameElement)
let g:WhichKeyDesc_ReplaceInFile = "<leader>xf ReplaceInFile"
nmap <leader>xf <Action>(Replace)
let g:WhichKeyDesc_Refactor = "<leader>xR Refactor"
nmap <leader>xR <Action>(RefactoringMenu)

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins " Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

map <C-n> :NERDTree<CR>
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
